<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mvc.study.domain.mapper.ResultMapper">
	<insert id="insertResult" parameterType="Result" >
	<![CDATA[
	insert into tbl_result_202004 values(#{p_no}, #{t_code}, #{t_sdate}, #{t_status}, #{t_ldate}, #{t_result})
	]]>
	</insert>
	
	<select id="selectResultAll" resultType="ResultListForm">
	<![CDATA[
	select p.p_no as p_no, p.p_name as p_name, l.t_name as t_name, t_sdate as t_sdate, t_ldate as t_ldate,
	case r.t_status when '1' then '검사중' when '2' then '검사완료' end as t_status,
	case t_result when 'X' then '미입력' when 'P' then '양성' when 'N' then '음성' end as t_result
	from tbl_patient_202004 p, tbl_result_202004 r, tbl_lab_test_202004 l
	where p.p_no = r.p_no and r.t_code = l.t_code
	group by p.p_no, p.p_name, l.t_name, r.t_sdate, r.t_status, r.t_ldate, r.t_result
	order by p.p_no
	]]>
	</select>
</mapper>